# GitHub templates
.github

# Coverage directories
coverage
.nyc_output

# Graphics and other media files
assets
media

# Scripts directory
scripts
script

# Source directory
src
source

# Test directory
tests
test

# IDE directories and files
.idea
.vscode
.editorconfig

# Development-related files
.babelrc
.gitattributes
.jestrc.json
.czrc
.nvmrc
.nycrc
.releaserc
.travis.yml

# Temporary / development directories and files
._*
.temp*/
